/* Login*/
#logo1{
  align-items: center;
  padding-left: 48%;
  padding-top: 2%;
}

#loginNewProfil {
  max-width: 400px;
  margin: auto;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  background-color: #4CAF50;
  color: white;
  padding: 8px; /* Ajustez la taille du padding en fonction de vos préférences */
  box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur du bouton */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block; /* Pour permettre la mise en ligne horizontale avec les champs de saisie */
  width: 100%; /* Ajustez la largeur en fonction de vos préférences */
}

button:hover {
  background-color: #45a049;
}

.section {
  margin-top: 20px;
}



/* Optional: Style for error messages */
.error-message {
  color: #FF0000;
  margin-top: 5px;
}


.login {
  width: 275px;
  height: 325px;
  margin-left : 37.5%;
  margin-top : 3%;
  overflow: hidden;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0px;
  padding-top: 30px;
  background: #dbdbdb;
  border-radius: 15px;
  border: solid 2px #000000;
  margin-bottom: 11%;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.login label {
  color: #000000;
  font-size: 17px;
  text-align: center;
  margin: 0;
}

span {
  color: rgb(0, 0, 0);
  font-size: 17px;
}

a {
  float: right;
  color:#000000;
  background-color: #dbdbdb;
}

.login h2 {
  margin-top:0px;
  margin-bottom:20px;

  text-align: center;
  color: #000000;
}

h2.new{
  margin-top:30px;
  margin-bottom:20px;

  text-align: center;
  color: #000000;
}


.section h1, h2 {
  text-align: center;
  position: relative;
}
#Uname {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Pass {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#log {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  background-color: #959090;
  color: rgb(0, 0, 0);
}

/* Nouveau compte*/
.sectionNew {
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 70px;
}

.sectionNew h2 {
  margin-bottom: 15px;
}

.sectionNew label {
  display: block;
  margin-bottom: 10px;
}

.sectionNew input[type="radio"] {
  margin-right: 5px;
}

/*Catalogue*/
.catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.pack img{
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

.pack p {
  margin: 5px 0;
  height: 40px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
}

.pack {
  margin-top: 20px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  display: flex; /* Activer la flexbox pour les éléments */
  flex-direction: column; /* Aligner les éléments en colonne */
  align-items: center; /* Centrer horizontalement les éléments */
  border: 3px solid #959090;
  border-radius: 10px;
  background-color: #ffffff;
}

.ajoutAchat {
  background-color: #ffffff; /* Couleur de fond blanche */
  color: #000000; /* Couleur du texte noire */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border: 2px solid #ffcf00; /* Bordure solide de couleur jaune */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de souris au survol */
  transition: background-color 0.3s, color 0.3s; /* Transition pour un effet visuel */
  margin-bottom: 20px; /* Ajout de la marge en dessous du bouton */
}

.ajoutAchat:hover {
  background-color: #ffcf00; /* Changement de couleur au survol */
  color: #ffffff; /* Changement de couleur du texte au survol */
  border: 2px solid #ffffff; /* Changement de couleur de la bordure au survol */
}

#quantity {
  width: 143px; /* Ajustez la largeur du champ de texte */
}

.ajoutAchat {
  width: 150px; /* Ajustez la largeur du bouton pour correspondre au champ de texte */
  /* ... (autres styles) ... */
}

/*Validation de paiement*/
.delivery-option img {
  margin-right: 100px; 
  height: 100px;
  width: 150px;
}
.form-group label {
  display: flex;
  margin-bottom: 5px;
}

.form-group input[type="text"], select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="checkbox"] {
  margin-right: 5px;
}
.container{
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    z-index: 1;

    flex: 1;
    display: flex;
    flex-direction: column;
}
.section {
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    margin-top:70px;
  }
  .delivery-option {
    display: flex;
    align-items: center;
  }
  .form-group {
    margin-bottom: 10px;
  }



/* Panier */

.Panier {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.cart {
    border-radius: 20px;
    border: 3px solid #ccc;
    padding: 10px;
    margin-top: 50px;
    margin-left:150px;
    margin-right:150px;
    background-color: #ffffff
}

.item img {
  width: 100px;
  margin-right: 10px;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-details {
  flex: 1;
}

.remove_btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
}

.total {
  font-size:large;
  text-align: center;
  margin-top: 30px;
}

.checkout-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 auto; /* Cette ligne centrer le bouton */
  display: block; /* Cette ligne pour assurer le centrage */
}

/*Profil*/

.profil {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.user_info_container {
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-right: 5%;
  margin-top: 70px;
  width: 70%;
  margin: 70px auto; /* Centrage horizontal */
  padding: 20px;
  border: 1px solid #3498db;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.user_info_container h1, .user_info_container h2 {
  text-align: center;
  position: relative;
  margin-bottom: 20px; /* Ajout de marge en dessous du titre */
}

.change_button {
  background-color: #ffffff; /* Couleur de fond blanche */
  color: #000000; /* Couleur du texte noire */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border: 2px solid #ffcf00; /* Bordure solide de couleur jaune */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de souris au survol */
  transition: background-color 0.3s, color 0.3s; /* Transition pour un effet visuel */
  margin: 20px auto; /* Ajout de la marge en dessous et centrage horizontal */
  display: block; /* Assure que le bouton est affiché en tant que bloc pour utiliser la marge automatique */
}


.change_button:hover {
  background-color: #ffcf00; /* Changement de couleur au survol */
  color: #ffffff; /* Changement de couleur du texte au survol */
  border: 2px solid #ffffff; /* Changement de couleur de la bordure au survol */
}

.empty-message {
  background-color: #f8d7da; /* Couleur de fond rouge clair */
  border: 1px solid #f5c6cb; /* Bordure rouge claire */
  padding: 10px; /* Espacement intérieur */
  margin-bottom: 15px; /* Marge en bas pour l'espacement */
  border-radius: 5px; /* Coins arrondis */
  text-align: center; /* Centrer le texte à l'intérieur de la div */
}

.empty-message h2 {
  color: #721c24; /* Couleur de texte foncée */
}

.empty-message p {
  color: #721c24; /* Couleur de texte foncée */
}

.downlaod_button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
}

/*Commun*/

hr {
  border: none;
  height: 2px;
  background-color: #5112e4; /* Couleur de la ligne */
  box-shadow: 0 2px 5px #3498db;/* Effet d'ombre */
  margin: 50px; /* Marge autour de la ligne */
}

.something_to_say{
  margin-top : 100px;
  margin-right : 100px;
  margin-left : 100px;

  text-align: center;
  font-weight: bold;
  color: red;
  border: 2px solid black; /* Ajoutez le style de bordure souhaité */
  padding: 10px;
  border-radius: 10px; /* Ajoutez une valeur pour spécifier le rayon des coins arrondis */
}




main {
  flex: 1;
  margin-bottom: 20px; /* Ajouter un espace entre le contenu principal et le footer */
}

body {
  margin: 0;
  padding: 0;
  font-family:Arial,sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

h1 {
  position: absolute;
  top: 3.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 1;
}

/*
.backgroundBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: "../figs/BackgroundLego.PNG";
  background-size: cover;
  background-position: center;
  filter: blur(3px); /* Appliquer le flou à l'image de fond 
  z-index: -1; /* Envoyer l'élément en arrière-plan 
}
*/

.bandeau {
  background-color: #ffcf00; /* Couleur jaune */
  position:absolute;
  top:0;
  height: 100px; /* Hauteur de 100px */
  width: 100%; /* Prend toute la largeur de la page */
  z-index: 0;
  padding: 0%;
  margin:0;
}

#catalogueButton {
  position: absolute;
  top: 23px;
  right: 235px;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#catalogueImage {
  top: 24px;
  right: 235px;
  width: 70px;
  height: 55px;
}

#profilButton {
  position:absolute;
  top: 24px;
  right: 160px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  visibility: hidden;
  cursor: pointer;
}

#profilImage {
  position:absolute;
  top: 24px;
  right: 160px; /* Ajustez la valeur en fonction de la taille de votre image */
  width: 50px; /* Ajustez la taille de l'image */
  height: 50px; /* Ajustez la taille de l'image */
  border-radius: 50%; /* Assurez-vous que l'image est ronde */
}
#panierButton {
  position:absolute;
  top: 20px;
  right: 90px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  visibility: hidden;
  cursor: pointer;
}

#panierImage {
  position:absolute;
  top: 20px;
  right: 90px; /* Ajustez la valeur en fonction de la taille de votre image */
  width: 50px; /* Ajustez la taille de l'image */
  height: 50px; /* Ajustez la taille de l'image */
  border-radius: 50%; /* Assurez-vous que l'image est ronde */
}

#logoutButton {
  position: absolute;
  top: 22px;
  right: 20px; /* Ajustez la position en fonction de votre mise en page */
  width: 50px; /* Ajustez la taille du bouton */
  height: 50px; /* Ajustez la taille du bouton */
  border-radius: 50%;
  visibility: hidden;
  cursor: pointer;
}

#logoutImage {
  position: absolute;
  top: 22px;
  right: 20px; /* Ajustez la position en fonction de votre mise en page */
  width: 50px; /* Ajustez la taille de l'image */
  height: 50px; /* Ajustez la taille de l'image */
  border-radius: 50%;
}

/*
#likeButton {
  position:absolute;
  top: 20px;
  right: 160px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  visibility: hidden;
  cursor: pointer;
}


#likeImage {
  position:absolute;
  top: 20px;
  right: 230px; 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
}
*/

.logo {
  border-radius: 2%;
  position: absolute;
  top:0;
  left:0;
  width: 50px;
  height:50px;
  z-index: 1; /* Assurez-vous que le logo est au-dessus du bandeau */
  padding: 0;
  margin: 0; /* Ajoutez cette ligne pour réinitialiser la marge */
}

.logoButton {
  border-radius: 2%;
  position: absolute;
  top:12.5px;
  left:12.5px;
  width: 75px;
  height:75px;
  z-index: 1; /* Assurez-vous que le logo est au-dessus du bandeau */
  padding: 0;
  margin: 0; /* Ajoutez cette ligne pour réinitialiser la marge */
}

.logoImage {
  width: 100%; /* Utilisez la largeur à 100% pour occuper la totalité du bouton */
  height: 100%; /* Utilisez la hauteur à 100% pour occuper la totalité du bouton */
  border-radius: 0%; /* Vous pouvez ajuster cela en fonction de vos besoins */
}

/* footer */

footer {
  background-color: #ffcf00;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft, .footerRight {
  flex: 1;
  text-align: left;
}

.footerCenter {
  flex: 8;
  text-align: center;
}

.footerRight {
  margin-left: auto;
  text-align: right;
}

.footerContact-link {
  color: black;
  text-decoration: none;
}
